@import './fontawesome/font-awesome';
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700');
@import './_ui-controls';
@import './_vue-slider';
@import './_markdown';

html,
body {
  font-size: 20px;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 10px;
  color: #08ec86;
  >span {
    font-weight: 500;
    color: saturate(#41b883, 50);
  }
  &.small {
    font-size: 0.8rem;
  }
}

a {
  text-decoration: none;
  color: #41b883;
  font-weight: 400;
  &:hover,
  &:active,
  &:focus,
  &.router-link-exact-active {
    color: darken(#fff, 1);
  }
}

.router-link-active {
  color: saturate(green, 10);
}

.router-link-exact-active {
  pointer-events: none;
}

#app {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #203243;
  color: #fcfcfc;
  min-height: 100vh;
}

$page-transition-speed: 200ms;
.page-fade-leave-active {
  animation-duration: $page-transition-speed;
  animation-fill-mode: both;
  animation-name: fadeOut;
  animation-timing-function: cubic-bezier(0.78, 0.03, 1, 1.02);
}

.page-fade-enter-active {
  animation-duration: $page-transition-speed;
  animation-fill-mode: both;
  animation-name: fadeIn;
  animation-timing-function: cubic-bezier(0, 0.71, 0.58, 1);
}

div.page-container {
  article {
    flex: 0 1 auto;
       width: 36%;
    min-width: 450px;


//   height: 100%;
    // padding-right: 50px;

    img {
      max-width: 100%;
      height: auto;
    }
  }
  
}

.section-content {
  padding-right: 50px;

  blockquote {
    background-color: rgb(23, 37, 51);
    font-style: italic;
    font-weight: 300;
    font-size: 0.9rem;
    color: #fcfcfc;
    margin: 0;
    padding: 5px 15px;
    border: 1px dashed rgb(28, 221, 135);
    margin-bottom: 15px;
  }
}

.example-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  margin-left: auto;

  circle {
    cursor: pointer;
  }



  > div {
    width: 100%;
    height: 100%;
  }

  .well {
    flex: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(#fff, 0.1);
  }
  svg {
    position: relative;
    top: 50%;
    left: 50%;
        height: inherit;
    width: inherit;
    display: block;
    overflow: visible;
  }
  .centered {
    transform: translateX(50%) translateY(50%);
  }
}
